body {
    color: rgba(0, 1, 54, 0.959);
    text-align: center;
    font-family: "Perpetua";
    font-size: 24px;
    margin: 0;
    padding: 0;

}

#cabecera {
    background: #33a;
    color: white;
    margin: 0;
    padding: 0.5em;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid darkblue;
    margin: 0 auto;
}
